*{
    margin: 0;
    padding: 0;
}
img{
    border: 0;
}
body, html, #photowall{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#photowall{
    background: #cccccc;
}
.stage{
    position: relative;
}
.img-figure{
    width: 320px;
    height: 360px;
    background: #ffffff;
    text-align: center;
    padding-top: 40px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
}
.img-figure h2{
    margin-top: 20px;
}










